:root {
    --one: #20152c;
    --two: #995c8a;
    --three: #cb95aa;
    --four: #fdae55;
    --five: #658cc8;
}


body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    min-height: 100vh;
    background-image: linear-gradient(to bottom right, white, lightgray);
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-image: linear-gradient(to right, var(--four), var(--five));
    color: var(--one);
}


header h1 {
    font-size: 48px;
}

#categories {
    text-align: center;
    padding-bottom: 20px;
}

.category {
    border: 1px solid black;
    background-color: var(--three);
    color: var(--one);
    margin: 10px;
    padding: 5px;
    border-radius: 2px;
    font-size: 30px;
}

#todos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}


.card {
    margin: 10px;
    padding: 10px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.8);
    transition: 0.3s;
    border-radius: 5px;
    color: var(--four);
    background-image: linear-gradient(to bottom right, var(--two), var(--three));
}

.card:hover {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.8);
}

#card-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.remove {
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    outline: none;
    padding: 5px;
    height: 50%;
    margin-top: auto;
    margin-bottom: auto;
}


#add-todo-button,#download-button {
    transition: 0.3s;
    height: 120px;
}

#add-todo-button:hover,#download-button:hover {
    cursor: pointer;
    opacity: 50%;
}
