:root {
    --primary: #b36bff;
    --primary-two: #b98fe6;
    --secondary: #74bf73;
    --secondary-two: #edc217;
    --tertiary: #6b70ff;
    --tertiary-two: #8f91e6;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    min-height: 100vh;
    background-image: linear-gradient(to bottom right, white, lightgray);
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-image: linear-gradient(to right, var(--secondary-two), var(--secondary));
    color: var(--tertiary);
}


header h1 {
    font-size: 48px;
}

#categories {
    text-align: center;
    padding-bottom: 20px;
}

.category {
    border: 1px solid black;
    background-color: var(--primary);
    margin: 10px;
    padding: 5px;
    border-radius: 2px;
    font-size: 30px;
}

#todos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}


.card {
    margin: 10px;
    padding: 10px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.8);
    transition: 0.3s;
    border-radius: 5px;
    color: var(--secondary-two);
    background-image: linear-gradient(to bottom right, var(--primary), var(--primary-two));
}

.card:hover {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.8);
}

.remove {
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    outline: none;
    padding: 5px;
}


#add-todo-modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 200px;
    overflow: auto;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}

#modal-content {
    background-color: var(--tertiary);
    margin: auto;
    border: 1px solid black;
    border-radius: 5px;
    width: 30%;
    height: 40%;
    padding: 10px;
}

#modal-content > * {
    width: 95%;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 10px;
    border-radius: 5px;
    border: none;
}

#modal-content h1, label {
    color: var(--secondary-two);
}


#modal-content input,textarea {
    background-color: var(--tertiary-two);
    width: 98%;
    padding: 5px;
    margin-bottom: 5px;
    border: 1px solid black;
}


#add-todo-name,#add-todo-category {
    font-size: 25px;
    height: 40px;
}

#add-todo-value {
    font-size: 25px;
    height: 140px;
}

#modal-content input::placeholder,textarea::placeholder {
    font-size: 25px;
    color: var(--secondary-two);
}

#modal-content #add-todo-submit {
    background-color: green;
    padding: 5px;
    border: none;
    color: white;
    width: 98%;
    border-radius: 5px;
}

#modal-content p {
    cursor:pointer;
    color: white;
}

#close-modal {
    padding: 5px;
    background-color: red;
}



#add-todo-button {
    transition: 0.3s;
    height: 120px;
}

#add-todo-button:hover {
    cursor: pointer;
    opacity: 50%;
}