<html>
    <head>
        <title>Create Todo</title>
        <link rel="stylesheet" href="static/create.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
            <h1>Create Todo</h1>
        </header>
        <div id="container" style="width:50%;margin:auto;display:flex;justify-content:center">
            <form method="post">
                <input type="text" name="name" placeholder="Name" id="add-todo-name" required><br>
                <textarea name="value" placeholder="Content" style="font-family:Arial, Helvetica, sans-serif" id='add-todo-value' required></textarea><br>
                <input type="text" name="category" placeholder="Category" id="add-todo-category" required><br>
                <input type="submit" value="Create" id="add-todo-submit">
            </form>
        </div>
        <a href="{{ url_for('index') }}" style="font-size:30px;">Return to Home</a>
    </body>
</html>