<html>
    <head>
        <title>Todo ({{ current_category.capitalize() }})</title>
        <link rel="stylesheet" href="static/home.css">
    </head>
    <body>
        <header>
            <h1>Todo ({{ current_category.capitalize() }})</h1>
            <a href="{{ url_for('create') }}"><img src="/static/images/plus.png" id="add-todo-button"></a>
        </header>
        <main>
            <hr>
            <div id="categories">
                <h2>Categories</h2>
                <a href="{{ url_for('index') }}" class="category">All</a>
                {% for category in categories %}
                <a href="{{ url_for('index', category=category) }}" class="category">{{ category.capitalize() }}</a>
                {% endfor %}
                <br>
                <a href="{{ url_for('download', category=category) }}">Download Todo List</a>
            </div>
            <hr>
            <div id="todos">
                {% for todo in todos %}
                <div class="card">
                    <h2 class="name">{{ todo.name }}</h2>
                    <p>{{ todo.value }}</p>
                    <div id="card-footer">
                        <p>In: {{ todo.category.capitalize() }}</p>
                        <a class="remove" href="{{ url_for('remove', todo_id=todo.id) }}">Remove</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </main>
    </body>
</html>