<html>
    <head>
        <title>Todo ({{ current_category.capitalize() }})</title>
        <link rel="stylesheet" href="static/style.css">
    </head>
    <body>
        <div id="add-todo-modal">
            <div id="modal-content">
                <h1>Add Todo</h1>
                <form method="post">
                    <input type="text" name="name" placeholder="Name" id="add-todo-name"><br>
                    <textarea name="value" placeholder="Content" style="font-family:Arial, Helvetica, sans-serif" id='add-todo-value'></textarea><br>
                    <input type="text" name="category" placeholder="Category" id="add-todo-category"><br>
                    <input type="submit" value="Create" id="add-todo-submit">
                </form>
                <p id="close-modal">Cancel</p>
            </div>
        </div>
        <header>
            <h1>Todo ({{ current_category.capitalize() }})</h1>
            <img src="/static/images/plus.png" id="add-todo-button">
        </header>
            <main>
                <hr>
                <div id="categories">
                    <h2>Categories</h2>
                    <a href="{{ url_for('index') }}" class="category">All</a>
                    {% for category in categories %}
                    <a href="{{ url_for('index', category=category) }}" class="category">{{ category.capitalize() }}</a>
                    {% endfor %}
                </div>
                <hr>
                <div id="todos">
                    {% for todo in todos %}
                    <div class="card">
                        <h2 class="name">{{ todo.name }}</h2>
                        <h3>{{ todo.category }}</h3>
                        <p>{{ todo.value }}</p>
                        <a class="remove" href="{{ url_for('remove', todo_id=todo.id) }}">Remove</a>
                    </div>
                    {% endfor %}
                </div>
            </main>
        <script src="static/script.js"></script>
    </body>
</html>